# Logic
node_modules/
dist/
dist-ssr/
*.local

# Production
build/
bin/
obj/

# Android
android/.gradle
android/build
android/app/build
android/out
android/local.properties
*.apk
*.aab
*.keystore
!android/app/release-key.keystore

# iOS
ios/App/App/public
ios/App/Pods
ios/App/build

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
.DS_Store

# Versioning
.env
.env.production
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
capacitor.config.json

# Temporary
aligned.apk
temp/
